In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
df=pd.read_csv('Preprocessed_df.csv')

In [3]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female
3,Adelie,Torgersen,44.1,17.3,197.0,4050.0,male
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female

In [4]:
num_col = ['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']
num_col

['bill_length_mm', 'bill_depth_mm', 'flipper_length_mm', 'body_mass_g']

In [5]:
scaler = StandardScaler()
df[num_col] = scaler.fit_transform(df[num_col])

In [6]:
df.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,-0.883054,0.787289,-1.420541,-0.468990,male
1,Adelie,Torgersen,-0.809180,0.126114,-1.063485,-0.424125,female
2,Adelie,Torgersen,-0.661432,0.431272,-0.420786,-0.917634,female
3,Adelie,Torgersen,0.040373,0.075255,-0.277964,-0.199803,male
4,Adelie,Torgersen,-1.326299,1.092447,-0.563608,-0.738176,female